// adding specific fonts
@font-face {
  font-family: "News Cycle";
  src:font-url("NewsCycle-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

// customize Bootstrap variables
$brand-primary: #e06019;
$btn-default-bg: #ede9e8;
$btn-default-border: #928a8a;

$font-family-sans-serif:  "News Cycle", "Helvetica Neue", Helvetica, Arial, sans-serif;

$state-success-bg: rgba(223, 240, 216, 0.5);

$input-border-focus: $brand-primary;

$navbar-inverse-bg: #e06019;
$navbar-inverse-link-color: #eee;


// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }

// FORMS
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
#error_notification {
  color: #f00;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #fdf4ef;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }

section {
  @extend .row;
  margin-top: 20px;
  }

.navbar-nav {
  margin-top: 5px;
  font-size: 16px;
  }





