#wrap-hp {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -90px;
    background-color: #fdf4ef;
    background: image-url("background-11.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.hp-layer {
	@extend column;
	background: rgba(200, 200, 200, .6);
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius: 5px;
	h1 {
		font-size: 40px;
		margin-bottom: 20px;
	}
	p {
		font-size: 16px;
		margin-bottom: 20px;
		.help-block {
			text-color: #e06019;
		}
	}
}


