<div class="container">
    <div class="row" style="margin-top: 10px; align:left">
        <div class="col-sm-4">
        	<p class="text-center">Copyright Local Art 2014</p>
        </div>
        <div class="col-sm-4">
        	<p class="text-center">
        		Join us on : <br/><br/>
        	
        		<%= link_to image_tag('facebook-white.png', :class => "img-responsive", :style => "display:inline"), root_path %>
        		<%= link_to image_tag('tumblr-white.png', :class => "img-responsive", :style => "display:inline"), root_path %>
        		<%= link_to image_tag('twitter-white.png', :class => "img-responsive", :style => "display:inline"), root_path %>
        	</p>
        </div>
        <div class="col-sm-4" style="link-color: #eee;">
        		<p class="text-center">
        			Contact us :
        		</p>
        		<p class="text-center">
        			<a href="mailto:contact@local-art.fr">contact@local-art.fr</a>
        		</p>
        		<p class="text-center">
        			7, rue Oberkampf - 75011 Paris
        		</p>
        </div>
    </div>
</div>